.p-commerce-bg-info{
    background-color: #fceae7;
}
.cagagories-images img{
    width: 100px;
}
.p-commerce-btn{
    color: white;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border: none;
    border-radius: 8px;
    padding: 9px 25px;

}